GestureTest/Debug/
GestureTest/Drivers/
GestureTest/.metadata/
GestureTest/.settings/
GestureTest/GestureTest Debug.launch
GestureTest/STM32G071RBTX_FLASH.ld
GestureTest/.cproject
GestureTest/.mxproject
GestureTest/.project
